 <nav id="nav-bg" class="navbar navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
		<button id="nav-btn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span id="nav-btn-icn" class="icon-bar"></span>
                    <span id="nav-btn-icn" class="icon-bar"></span>
                    <span id="nav-btn-icn" class="icon-bar"></span>
		</button>              
                <a id="nav-anc" class="navbar-brand" href="http://javakeen.com">JavaKeen.com</a>	
            </div>            
            <div id="navbar-ex-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">                    
                    <li><a id="nav-anc" href="/java/">Java</a></li>
                    <li><a id="nav-anc" href="/j2ee/">J2EE</a></li>
                    <li><a id="nav-anc" href="/web-service/">Web Service</a></li>
                    <li><a id="nav-anc" href="/framework/">Framework</a></li>
                    <li><a id="nav-anc" href="/cryptography/">Cryptography</a></li>
                    <li><a id="nav-anc" href="/misc/">Misc</a></li>
                    <li><a id="nav-anc" href="/tool/">Tool</a></li>
                    <li>
                        <form role="search" method="get" class="navbar-form" action="">                            
                            <input type="search" value="" placeholder="Search..." name="s" title='Search...' class="form-control" >
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
