#nav-bg {background-color: #3071a9;}
#nav-btn {border-color: #ffffff;}
#nav-btn-icn {background-color: #ffffff;}
#nav-anc, #nav-anc:hover {font-size: 16px; font-weight: normal; color:#ffffff; background-color: #3071a9;}

footer {background-color: #3071a9; font-size: 15px; color:#ffffff; margin-top: 200px;}

p {text-align: justify; }
